@use 'partials/setup';
@use 'partials/variables' as *;
@use "partials/mixin" as *;

// global styles

.mobile-only {
    display: none;
}
.desktop-only {
    display: initial;
}

body {
    background-color: $cyan;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

// wrapper styles
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

// curtain styles
.curtain {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: static;
}

.curtainleft,
.curtainright {
    position: absolute;
    top: 0;
    width: 13%;
    height: 800px;
    filter: brightness(100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    cursor: pointer;
}

.curtainleft {
    background-image: url("../assets/left-curtain.png");
}

.curtainright {
    background-image: url("../assets/right-curt.png");
    right: 0;
}

// heart styling
.heartAnimation {
    background-image: url('../assets/web-heart-animation.png');
    background-repeat: no-repeat;
    background-size: 2900%;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.animate {
    animation: heart-burst 1s steps(28) forwards;
}

@keyframes heart-burst {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

// popup styles
.popup {
    display: none;
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    .popup-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: auto;
        width: 750px;
        max-width: 80%;
        max-height: 80%;
        background: $off-white;
        border: solid #000 2px;
        border-radius: 25px;

        .popup-top {
            position: sticky;
            background-color: $cyan;
            border-bottom: solid #000 2px;
            top: 0;
            padding: 10px;

            i {
                color: #000;
                font-size: 30px;
                float: left;
                cursor: pointer;

                &:hover {
                    color: $off-white;
                }
            }

            h3 {
                padding: 5px 0px;
                margin: 0;
            }
        }

        .final-list-info {
            padding: 20px;
            margin: auto;
            width: 75%;
            ol {
                text-align: left;
                font-size: 20px;
                li {
                        margin: 0;
                        padding-bottom: 10px;
                
                        &:last-child {
                            padding-bottom: 0px;
                        }
                    }
            }
        }

        .popup-info {
            @include flexjustifyAlign(initial, center);
            // display: flex;
            // align-items: center;
            padding: 20px;

            ul {
                list-style: none;
                text-align: left;
                padding-left: 20px;

                li {
                    margin: 0;
                    padding-bottom: 10px;
                    &:last-child {
                        padding-bottom: 0px;
                    }
                }
            }

            img {
                width: 200px;
                height: auto;
                object-fit: cover;
                border: solid #000 2px;
            }
        }
    }
}

// header styles
header {
    padding-top: 25px;

    .wrapper {
        width: 500px;
        background-color: $off-white;
        border: solid #000 2px;
        border-radius: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    h1 {
        font-size: 50px;
    }

    .mobile-nav {
        display: none;
    }
}

// main styles

main {
    .search-bar {
        margin: auto;
        padding: 20px;
        width: 500px;

        form {
            border: none;
            @include flexjustifyAlign(space-between);
            // display: flex;
            flex-direction: row;
            // justify-content: space-between;
            input {
                width: 70%;
                padding: 10px;
                border: solid #000 2px;
                border-radius: 5px;
            }

            button {
                padding: 10px;
                border: solid #000 2px;
                background-color: $off-white;
                color: #000;
                border-radius: 5px;
                width: 25%;
                &:hover {
                        cursor: pointer;
                        background-color: rgba($off-white, .75);
                    }
            }
        }
    }

    .instructions {
        background-color: $off-white;
        margin: auto;
        margin-bottom: 30px;
        padding: 15px;
        width: 75%;
        border-radius: 25px;
        border: solid #000 2px;
        h2, p {
            margin: 0;
            padding: 10px;
        }
        i {
            color: #000;
            font-size: 30px;
            float: left;
            cursor: pointer;

            &:hover {
                color: $cyan;
            }
        }
    }

    .main-container {
        // display: flex;
        flex-wrap: wrap;
        // justify-content: space-around;
        @include flexjustifyAlign(space-around);

        h2 {
            font-size: 25px;
            margin: 25px;
            }

        .results {
            background-color: $off-white;
            width: 60%;
            max-height: 475px;
            border-radius: 25px;
            border: solid #000 2px;

            ul {
                list-style: none;
                padding-left: 5%;
                padding-right: 5%;
                // display: flex;
                margin: 0;
                // justify-content: center;
                @include flexjustifyAlign(center);

                li {
                    margin: 0% 5% 5% 5%;
                    width: 33%;

                    .poster-container {
                        position: relative;

                        .movie-poster,
                        .add-button {
                            width: 100%;
                            height: auto;
                            aspect-ratio: 2.75/4;
                        }

                        .movie-poster {
                            object-fit: cover;
                            border: solid #000 2px;
                        }

                        .add-button {
                            display: none;
                            position: absolute;
                            left: 0;
                            top: 0;

                            p {
                                padding-top: 30%;
                                font-size: 15px;
                            }

                            i {
                                color: #000;
                                font-size: 50px;
                            }
                        }

                        &:hover {
                            .movie-poster {
                                opacity: 30%;
                            }

                            .add-button {
                                display: block;
                                cursor: pointer;
                            }
                        }
                    }

                    .read-more {
                        border: solid #000 2px;
                        border-radius: 5px;
                        background-color: $cyan;
                        color: #000;
                        width: 100%;
                        padding: 5px;
                        &:hover {
                            cursor: pointer;
                            background-color: rgba($cyan, .75);
                        }
                    }
                }
            }
        }

        .movie-list {
            background-color: $off-white;
            width: 30%;
            max-height: 475px;
            border-radius: 25px;
            border: solid #000 2px;

            .list-container {
                max-height: 65%;
                overflow-y: auto;

                .movie-list-icons {
                    @include flexjustifyAlign(initial, center);
                        // display: flex;
                        // align-items: center;
                }

                .movie-list-item {
                    align-items: center;
                }

                ul {
                    list-style-type: none;
                    text-align: left;
                    padding-left: 5%;
                    margin: 0;
            
                    li {
                        font-size: 20px;
                        padding: 0 5px 5px 5px;
                        @include flexjustifyAlign(space-between);
                        // display: flex;
                        // justify-content: space-between;
            
                        .movie-list-item {
                            display: flex;
            
                            input {
                                margin-right: 10px;
                            }
            
                            label {
                                margin: 0;
                            }
            
                            input:checked+label {
                                text-decoration: line-through;
                            }
                        }
            
                        i {
                            color: #000;
                            padding-left: 5px;
                            cursor: pointer;
                            align-self: center;
            
                            &:hover {
                                color: $cyan;
                            }
                        }
                    }
                }
            }
            .export {
                border: solid #000 2px;
                border-radius: 5px;
                background-color: $cyan;
                color: #000;
                width: 75%;
                padding: 5px;
                margin-top: 5%;
                margin-bottom: 5%;

                &:hover {
                    cursor: pointer;
                    background-color: rgba($cyan, .75);
                }
            }
        }
    }
}

// footer styles

footer {
    padding-top: 5px;
    padding-bottom: 5px;
}

// mobile design
@media only screen and (max-width: 1600px) {
    .curtain{
      display: none;
    }
}

@media only screen and (max-width: 595px) {

    .mobile-only {
        display: initial;
    }

    .desktop-only {
        display: none;
    }

    .popup {
        .popup-container {
            .popup-info {
                flex-direction: column;
                ul {
                    padding: 0;
                }
                img {
                    display: none;
                }
            }
        }
    }

    .curtain {
        display: none;
    }

    header {
        .wrapper {
            width: 90%;
        }

        .mobile-nav {
            display: initial;

            ul {
                background-color: #000;
                list-style: none;
                @include flexjustifyAlign(space-evenly);
                // display: flex;
                // justify-content: space-evenly;
                padding: 0;

                li {
                    color: $off-white;
                    padding: 10px;

                    &:hover {
                        background-color: $cyan;
                        color: #000;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    main {
        .search-bar {
            width: 100%;
            padding: 20px 0px;
        }

        .instructions {
            width: 100%;
        }

        .main-container {
            flex-direction: column;

            .results,
            .movie-list {
                width: 100%;
                max-height: 100%;
            }

            .results {
                ul {
                    flex-direction: column;

                    li {
                        width: 90%;
                        p {
                            font-size: 20px;
                        }
                        .read-more {
                            margin-bottom: 20px;
                        }
                        .poster-container {
                            .add-button {
                                p {
                                    padding-top: 40%;
                                    font-size: 30px
                                }
                                i {
                                    font-size: 75px;
                                }
                            }
                        }
                    }
                }
            }

            .movie-list {
                display: none;
            }
        }
    }
}