html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: initial;
}

body {
  background-color: #87bec0;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.curtain {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: static;
}

.curtain-left,
.curtain-right {
  position: absolute;
  top: 0;
  width: 13%;
  height: 800px;
  filter: brightness(100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  cursor: pointer;
}

.curtain-left {
  background-image: url("../assets/left-curtain.png");
}

.curtain-right {
  background-image: url("../assets/right-curt.png");
  right: 0;
}

.heart-animation {
  background-image: url("../assets/web-heart-animation.png");
  background-repeat: no-repeat;
  background-size: 2900%;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.animate {
  -webkit-animation: heart-burst 1s steps(28) forwards;
          animation: heart-burst 1s steps(28) forwards;
}

@-webkit-keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.popup {
  display: none;
  z-index: 100;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup .popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  width: 750px;
  max-width: 80%;
  max-height: 80%;
  background: #FAF9F6;
  border: solid #000000 2px;
  border-radius: 25px;
}
.popup .popup-container .popup-top {
  position: -webkit-sticky;
  position: sticky;
  background-color: #87bec0;
  border-bottom: solid #000000 2px;
  top: 0;
  padding: 10px;
}
.popup .popup-container .popup-top i {
  color: #000000;
  font-size: 30px;
  float: left;
  cursor: pointer;
}
.popup .popup-container .popup-top i:hover {
  color: #FAF9F6;
}
.popup .popup-container .popup-top h3 {
  padding: 5px 0px;
  margin: 0;
}
.popup .popup-container .final-list-info {
  padding: 20px;
  margin: auto;
  width: 75%;
}
.popup .popup-container .final-list-info ol {
  text-align: left;
  font-size: 20px;
}
.popup .popup-container .final-list-info ol li {
  margin: 0;
  padding-bottom: 10px;
}
.popup .popup-container .final-list-info ol li:last-child {
  padding-bottom: 0px;
}
.popup .popup-container .popup-info {
  display: flex;
  justify-content: initial;
  align-items: center;
  padding: 20px;
}
.popup .popup-container .popup-info ul {
  list-style: none;
  text-align: left;
  padding-left: 20px;
}
.popup .popup-container .popup-info ul li {
  margin: 0;
  padding-bottom: 10px;
}
.popup .popup-container .popup-info ul li:last-child {
  padding-bottom: 0px;
}
.popup .popup-container .popup-info img {
  width: 200px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid #000000 2px;
}

header {
  padding-top: 25px;
}
header .wrapper {
  width: 500px;
  background-color: #FAF9F6;
  border: solid #000000 2px;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
header h1 {
  font-size: 50px;
}
header .mobile-nav {
  display: none;
}

main .search-bar {
  margin: auto;
  padding: 20px;
  width: 500px;
}
main .search-bar form {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: initial;
  flex-direction: row;
}
main .search-bar form input {
  width: 70%;
  padding: 10px;
  border: solid #000000 2px;
  border-radius: 5px;
}
main .search-bar form button {
  padding: 10px;
  border: solid #000000 2px;
  background-color: #FAF9F6;
  color: #000000;
  border-radius: 5px;
  width: 25%;
}
main .search-bar form button:hover {
  cursor: pointer;
  background-color: rgba(250, 249, 246, 0.75);
}
main .instructions {
  background-color: #FAF9F6;
  margin: auto;
  margin-bottom: 30px;
  padding: 15px;
  width: 75%;
  border-radius: 25px;
  border: solid #000000 2px;
}
main .instructions h2, main .instructions p {
  margin: 0;
  padding: 10px;
}
main .instructions i {
  color: #000000;
  font-size: 30px;
  float: left;
  cursor: pointer;
}
main .instructions i:hover {
  color: #87bec0;
}
main .main-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: initial;
}
main .main-container h2 {
  font-size: 25px;
  margin: 25px;
}
main .main-container .results {
  background-color: #FAF9F6;
  width: 60%;
  max-height: 457px;
  border-radius: 25px;
  border: solid #000000 2px;
}
main .main-container .results ul {
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: initial;
}
main .main-container .results ul li {
  margin: 0% 5% 5% 5%;
  width: 23%;
}
main .main-container .results ul li .poster-container {
  position: relative;
}
main .main-container .results ul li .poster-container .movie-poster,
main .main-container .results ul li .poster-container .add-button {
  width: 100%;
  height: auto;
  aspect-ratio: 2.75/4;
}
main .main-container .results ul li .poster-container .movie-poster {
  -o-object-fit: cover;
     object-fit: cover;
  border: solid #000000 2px;
}
main .main-container .results ul li .poster-container .add-button {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
main .main-container .results ul li .poster-container .add-button p {
  padding-top: 30%;
  font-size: 15px;
}
main .main-container .results ul li .poster-container .add-button i {
  color: #000000;
  font-size: 50px;
}
main .main-container .results ul li .poster-container:hover .movie-poster {
  opacity: 30%;
}
main .main-container .results ul li .poster-container:hover .add-button {
  display: block;
  cursor: pointer;
}
main .main-container .results ul li .read-more {
  border: solid #000000 2px;
  border-radius: 5px;
  background-color: #87bec0;
  color: #000000;
  width: 100%;
  padding: 5px;
}
main .main-container .results ul li .read-more:hover {
  cursor: pointer;
  background-color: rgba(135, 190, 192, 0.75);
}
main .main-container .movie-list {
  background-color: #FAF9F6;
  width: 30%;
  max-height: 457px;
  border-radius: 25px;
  border: solid #000000 2px;
}
main .main-container .movie-list .list-container {
  max-height: 65%;
  overflow-y: auto;
}
main .main-container .movie-list .list-container .movie-list-icons {
  display: flex;
  justify-content: initial;
  align-items: center;
}
main .main-container .movie-list .list-container .movie-list-item {
  align-items: center;
}
main .main-container .movie-list .list-container ul {
  list-style-type: none;
  text-align: left;
  padding-left: 5%;
  margin: 0;
}
main .main-container .movie-list .list-container ul li {
  font-size: 20px;
  padding: 0 5px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: initial;
}
main .main-container .movie-list .list-container ul li .movie-list-item {
  display: flex;
}
main .main-container .movie-list .list-container ul li .movie-list-item input {
  margin-right: 10px;
}
main .main-container .movie-list .list-container ul li .movie-list-item label {
  margin: 0;
}
main .main-container .movie-list .list-container ul li .movie-list-item input:checked + label {
  text-decoration: line-through;
}
main .main-container .movie-list .list-container ul li i {
  color: #000000;
  padding-left: 5px;
  cursor: pointer;
  align-self: center;
}
main .main-container .movie-list .list-container ul li i:hover {
  color: #87bec0;
}
main .main-container .movie-list .list-placeholder {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 30px;
}
main .main-container .movie-list .export {
  display: none;
  border: solid #000000 2px;
  border-radius: 5px;
  background-color: #87bec0;
  color: #000000;
  width: 75%;
  padding: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
}
main .main-container .movie-list .export:hover {
  cursor: pointer;
  background-color: rgba(135, 190, 192, 0.75);
}

footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 1600px) {
  .curtain {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  main .instructions {
    width: 100%;
  }
  main .main-container {
    flex-direction: column;
  }
  main .main-container .results,
main .main-container .movie-list {
    width: 100%;
    max-height: 100%;
  }
  main .main-container .results {
    margin-bottom: 30px;
  }
  main .main-container .results ul li p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-only {
    display: initial;
  }
  .desktop-only {
    display: none;
  }
  .popup .popup-container .popup-info, .popup .popup-container .final-list-info {
    flex-direction: column;
  }
  .popup .popup-container .popup-info ul, .popup .popup-container .final-list-info ul {
    padding: 0;
  }
  .popup .popup-container .popup-info img, .popup .popup-container .final-list-info img {
    display: none;
  }
  .popup .popup-container .final-list-info {
    width: 100%;
    padding: 0;
  }
  header .wrapper {
    width: 90%;
  }
  header .mobile-nav {
    display: initial;
  }
  header .mobile-nav ul {
    background-color: #000000;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: initial;
    padding: 0;
  }
  header .mobile-nav ul li {
    color: #FAF9F6;
    padding: 10px;
  }
  header .mobile-nav ul li:hover {
    background-color: #87bec0;
    color: #000000;
    cursor: pointer;
  }
  main .search-bar {
    width: 100%;
    padding: 20px 0px;
  }
  main .search-bar form input {
    font-size: 90%;
  }
  main .main-container .results {
    margin: 0;
  }
  main .main-container .results ul {
    flex-direction: column;
  }
  main .main-container .results ul li {
    width: 90%;
  }
  main .main-container .results ul li .read-more {
    margin-bottom: 20px;
  }
  main .main-container .results ul li .poster-container .add-button p {
    padding-top: 40%;
    font-size: 30px;
  }
  main .main-container .results ul li .poster-container .add-button i {
    font-size: 75px;
  }
  main .movie-list {
    display: none;
  }
}